/*---------------------顶部样式 begin---------------------*/
.top {
    height: 70px;
    border-bottom: 1px solid #E5E5E5;
    width: 100%;
    background: #FFFFFF;
}
.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
/*--------------顶部logo B--------------*/
.top .top-logo {
    margin: 12px 15px 0;
}

/*logo 图片*/
.top .top-logo img {
    width: 47px;
    height: 47px;
}

/*--------------顶部logo E--------------*/

/*--------------顶部导航 B--------------*/
.top .top-nav {
    padding-top: 10px;
}

/*导航项*/
.top .top-nav li.nav-item {
    float: left;
    position: relative;
    background: #FFFFFF;
}

/*导航中li标签中a样式*/
.top .top-nav .nav-item .nav-a {
    display: block;
    color: #222C30;
    font-weight: 700;
    height: 20px;
    padding: 10px 20px 26px;
}
.top .top-nav .nav-item a:hover {
    color: #5C92FA!important;
}
/*下拉菜单样式*/
.top .top-nav .dropdown {
    position: absolute;
    border-radius: 5px;
    z-index: 1;
    background: rgba(255,255,255,0.9);
    top: 60px;
    display: none;
}
.top .top-nav .dropdown li {
    float: left;
}
/*下拉菜单a标签样式*/
.top .top-nav .nav-item .dropdown li a {
    display: inline-block;
    color: #80888C;
    padding: 0 50px;
    height: 46px;
    line-height: 46px;
    font-size: 14px;
    white-space: nowrap;
}

/*!*下拉菜单中a标签文本鼠标悬浮字体变色*!*/
/*.top .top-nav .nav-item .dropdown li a:hover {*/
    /*color: #5C92FA;*/
/*}*/

/*左上角跳转*/
.top .skip-to-lenovo {
    position: fixed;
}

.top .skip-to-lenovo {
    width: 30px;
    height: 90px;
    top: 0;
    z-index: 10;
}

/*---------------------顶部样式 end---------------------*/

/*------------------------轮播图b----------------------*/

/*------轮播图可视区域------*/
.lbt {
    position: relative;
    margin-top: 71px;
}
.lbt .screen {
    width: 100%;
    height: 790px;
    overflow: hidden;
}

/*图片列表ul*/
.lbt .imglist {
    position: relative;
}

.lbt .imglist li {
    position: absolute;
    height: 790px;
    /*width: 1920px;*/
    width: 100%;
    display: none;
}
li.current {
    /*z-index: 1;*/
    display: block!important;
}
.lbt .imglist li .container {
    width: 1180px;
    margin: 0 auto;
    margin-top: 245px;
}

.lbt .imglist li.img1 {
    background: url("../images/l1.jpg") no-repeat center;
}

.lbt .imglist li .content {
    color: #fff;
}
.lbt .imglist li.img1 .content .logo {
    width: 170px;
    height: 40px;
    background: url("../images/motoz-logo7s7427s98dffffff.svg");
}

.lbt .imglist li.img1 .content h1 {
    margin: 35px 0;
}

.lbt .imglist li.img1 .content p {
    font-size: 12px;
}

.lbt .imglist .content .more {
    display: block;
    width: 130px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #3E8EDD;
    margin-top: 35px;
    color: #fff;
    font-size: 14px;
}

.lbt .imglist li.img2 {
    background: url("../images/l2.jpg") no-repeat center;
}

.lbt .imglist li.img2 .content .logo {
    width: 356px;
    height: 50px;
    background: url("../images/moto-mods-logorcz55e1wffffff.svg");
    margin-bottom: 35px;
}
.lbt .imglist li .content .c_intro {
    font-size: 20px;
}
.lbt .imglist li.img3 {
    background: url("../images/l3.jpg") no-repeat center;
}
.lbt .imglist li.img3 .content .logo {
    width: 150px;
    height: 76px;
    background: url("../images/moto-z-play-fff.png");
    margin-bottom: 35px;
}
.lbt .imglist li.img4 {
    background: url("../images/l4.jpg") no-repeat center;
}
.lbt .imglist li.img4 .content .logo {
    width: 170px;
    height: 40px;
    background: url("../images/motoz-logo7s7427s98dffffff.svg");
    margin-bottom: 35px;
}

/*轮播图侧边栏*/

.lbt .siderbar {
    height: 790px;
    width: 65px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

/*侧边栏中点按钮列表*/
.lbt .siderbar .dotlist {
    margin-top: 310px;
    margin-left: 25px;
    width: 60px;
}

.lbt .siderbar .dotlist li {
    display: block;
    background: url("../images/carousel-ico2A.png") no-repeat left center;
    background-size: 16px 16px;
    line-height: 30px;
    cursor: pointer;
    padding-left: 50px;
    white-space: nowrap;
    color: #80888C;
}

.lbt .siderbar .dotlist li:hover {
    background: url("../images/carousel-ico3A.png") no-repeat left center;
    background-size: 16px 16px;
    color: #fff;
}

/**/
.lbt .siderbar .dotlist li.current {
    background: url("../images/carousel-ico3A.png") no-repeat left center;
    background-size: 16px 16px;
}

/*------------------轮播图e------------------*/

/*------------------产品区b------------------*/

.product {
    overflow: hidden;
    padding-left: 10px;
    border-top: 1px solid #F3F3F3;
    height:600px;
}

/*左侧文字*/
.product .msg {
    margin-top: 210px;
    margin-right: 150px;
    text-shadow: 5px 5px 1px #ccc;
}

.product .msg h1 {
    margin-bottom: 25px;
}

/*产品列表*/
.product .product-item li {
    padding-top: 100px;
    padding-bottom: 200px;
    float: left;
    width: 300px;
    cursor: pointer;
    text-align: center;
    position: relative;
}
.product .product-item .product-name {
    margin-top: 8px;
}

.product .product-item i.plus-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 55px;
    background: url("../images/plusicon.png");
    vertical-align: middle;
}
.product .product-item .product-img {
    position: absolute;
    transition: margin-top 0.2s;
}

.product .product-item .product-img:hover {
    margin-top: -10px;
}
.product .product-item .info {
    position: absolute;
    top: 600px;
    width: 226px;
    height: 310px;
    padding: 130px 38px 160px;
    border-left: 1px solid #CCCFD1;
    border-right: 1px solid #CCCFD1;
    text-align: left;
    background: #fff;
}
.info .show {
    top: 0 !important;

}
.product .product-item .info p {
    margin-top: 10px;
}
.product .product-item .info .tick-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/icon1.bmp") no-repeat;
    padding-right: 20px;
}
.product .product-item .info .minus-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url("../images/icon2.bmp") no-repeat;
    margin-bottom: 30px;
    margin-left:206px;
}

/*------------------产品区e------------------*/

/*链接区B*/

.link {
    padding-top: 30px;
    padding-bottom: 30px;
}

.link dl {
    float: left;
    width: 295px;
}

.link dl dt {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 30px;
}

.link dt a {
    color: #222C30;
}

.link dd a:hover {
    color: #5C92FA;
}

.link dd a {
    font-size: 14px;
    line-height: 30px;
    color: #80888C;
}

/*------------------底部样式开始------------------*/
.footer {
    padding: 30px 0;
    background: #222C30;
}

.footer .country li {
    float: left;
    margin-right: 10px;
    font-size: 12px;
    color: #fff;
}
.footer .country li a:hover {
    text-decoration: underline;
}
.footer .country .china {
    background: url("../images/ico-flags-sprite.png") no-repeat -26px -32px;
    padding-left: 36px;
    height: 16px;
}

.footer .country .change a {
    color: #fff;
}

.footer .footer-logo {
    margin-top: 42px;
}

.footer .footer-logo img {
    width: 150px;
    height: 46px;
}

.footer .info p {
    font-size: 12px;
    line-height: 20px;
    color: #6C7477;
}

.footer .info .copyrigth {
    margin: 15px 0 20px;
}

.footer .info .declare {
    margin: 20px 0;
}
